@import url('./fonts.css');
@import url('./comment.css');
@import url('./print.css');
@import 'frappe-ui/src/components/TextEditor/style.css';

.prose-sm {
  caret-color: theme('colors.blue.600');
}

.prose strong,
b {
  color: inherit !important;
}

.collaboration-carets__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-carets__label {
  border-radius: 3px 3px 3px 0;
  color: var(--ink-white);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.15rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

.selection {
  background: rgba(175, 204, 246, 0.95);
  padding: 0.2em 0;
}

div[data-page-break='true'] {
  page-break-after: always;
  break-after: always;
  border: 2px dashed lightgray;
  margin: 25px 0px;
}
